<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.passwordsave">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--多盟 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.ad.AdActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.account.AddAccountActivity" android:screenOrientation="portrait" />
        <activity android:name=".module.account.UpdateAccountActivity" android:screenOrientation="portrait" />
        <activity android:name=".module.main.MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait"  android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".module.main.Term2Activity" />
        <activity android:name=".module.main.Term1Activity" />
        <activity android:name=".module.setting.pattern_lock.PatternSettingActivity" />
        <activity android:name=".module.setting.about.AboutActivity" />
        <activity android:name=".module.setting.pattern_lock.WholePatternSettingActivity" />
        <activity android:name=".module.setting.pattern_lock.WholePatternCheckingActivity" />
        <activity android:name=".module.setting.pattern_lock.WholePatternCancelActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.passwordsave.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>